numpy==1.12.0 # https://pypi.python.org/pypi/numpy
scipy==0.18.1 # https://pypi.python.org/pypi/scipy
scikit-learn==0.18.1 # https://pypi.python.org/pypi/scikit-learn
jupyter==1.0.0 # https://pypi.python.org/pypi/jupyter-pip
nltk==3.2.2 # https://pypi.python.org/pypi/nltk
spacy==1.6.0 # https://pypi.python.org/pypi/spacy
pandas==0.19.2 # https://pypi.python.org/pypi/pandas
datetime==4.1.1 # https://pypi.python.org/pypi/DateTime/4.1.1
pytz==2016.10 # https://pypi.python.org/pypi/pytz
